<h4>Welcome! Please sign in to get your name badge</h4>

<%= render 'form' %>

<script type="text/javascript">


  $(document).ready(function() {
    $('.typeahead').typeahead({
      name: 'names', 
      local: <%= raw @names %>
    });

    $('.typeahead2').typeahead({
      name: 'companies',
      local: []
    });
  });

</script>
