<p id="notice"><%= notice %></p>

<% if @rsvp.status == "success" %>
  Thanks for signing in! Please pick up your name tag at the table.
<% else %>
  We failed to validate your RSVP.  Pleace talk to an organizer
<% end %>



