<p id="notice"><%= notice %></p>

<% if @rsvp.status == "success" %>
  Your RSVP has been successfully confirmed.  Head to the label desk to pick up your nametag.
<% else %>
  We failed to validate your RSVP.  Pleace talk to an organizer
<% end %>



